aiosqlite==0.9.0
Click==7.0
cycler==0.10.0
dataclasses==0.6
fastapi==0.10.2
geographiclib==1.49
h11==0.8.1
httptools==0.0.13
kiwisolver==1.0.1
matplotlib==3.0.3
numpy==1.16.2
pydantic==0.21
pyparsing==2.3.1
python-dateutil==2.8.0
six==1.12.0
starlette==0.11.1
texttable==1.6.1
uvicorn==0.6.1
uvloop==0.12.2
websockets==7.0
